* {
  box-sizing: border-box;
}

body {
  font-family:
    Raleway,
    sans-serif;
  background-color: #f2f0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header {
  font-size: 20px;
  text-align: center;
  background-color: #f2f0f0;
  width: 100%;
}

.main {
  width: 75%;
  margin: auto;
  display: flex;
  gap: 20px;
}

.left-column {
  width: 70%;
}

.rightcolumn {
  width: 30%;
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image {
  width: 100%;
  object-fit: cover;
}

.span-image {
  width: 50px;
}

.post {
  background-color: #e6e4e4;
  padding: 20px;
  margin-top: 0;
}

.card {
  background-color: white;
  padding: 20px;
  margin-bottom: 4%;
  margin-top: 5%;
}

.card-2 {
  background-color: white;
  padding: 20px;
  margin-bottom: 4%;
}

.card-3 {
  background-color: white;
  padding: 10px;
}

.responsive {
  width: 100%;
  height: auto;
}

.card-4 {
  background-color: #fff;
  box-shadow: #00000048 2px 1px 2px 3px;
}

.card-5 {
  background-color: #fff;
  box-shadow: #00000048 2px 1px 2px 3px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.comment {
  float: right;
}

button {
  padding: 10px 7px 9px;
  background-color: white;
}

button:hover {
  background-color: #c8c6c6;
}

.post-items {
  border-bottom: #c8c6c6 1px solid;
  padding-bottom: 12px;
  padding-top: 12px;
}

.post-inner {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0 20px;
}

.post-inner:hover {
  background-color: #c8c6c6;
}

.post-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.post-text h3 {
  margin: 0;
}

.post-text p {
  margin: 0;
}

.tag {
  background-color: #e6e4e4;
  padding: 20px;
  margin-top: 0;
}

.tag-items {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
}

.tag-text {
  background-color: #e6e4e4;
  padding: 3px 7px;
  font-size: 13px;
  margin: 2px;
}

.box1 {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 3px 6px;
  margin: 2px;
}

.box {
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.footer {
  padding: 40px;
  background: grey;
  margin-top: 20px;
  bottom: 0;
  float: left;
  width: 100%;
}

.footer p {
  color: white;
}

.next-button {
  background-color: #000;
  color: white;
  padding: 15px 20px 10px;
}

.previous-button {
  background-color: #0e0d0d;
  padding: 15px 20px 10px;
  cursor: not-allowed;
  opacity: 0.2;
  color: white;
}

.next-button:hover {
  background-color: #c8c6c6;
}

.link {
  color: white;
}

/* Responsive layout when the screen is < 768px
wide make the two columns to stand
on each other instead of next to each other */

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    margin: auto;
    display: block;
    gap: 20px;
  }

  .left-column {
    width: 100%;
  }

  .rightcolumn {
    width: 100%;
  }
}
